.d-flex {
    display: flex !important;
    flex-wrap: wrap;
}
.text-center{
    margin-top: 50px;
}
.button{
    justify-content: center;
    text-align: center;
}
.col,img{
    height: 40px;
    width: 50px;

}
