body{
    font-family: 'Poppins', sans-serif;
}
.d-flex {
    display: flex !important;
    flex-wrap: wrap;
}
.text-center{
    margin-top: 50px;
}
.button{
    justify-content: center;
    text-align: center;
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;
    margin: 20px;
}


